*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
  
}
body{
    background-color: cornsilk;
    margin-top: 40px;
}
.calculator{
    background-color: bisque;
    height: auto;
    width: 15rem;
    box-shadow: 2px 2px 0px black;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.screen{
    width: 13rem;
    height: 100px;
    margin: 1rem;
    
    background-color: blanchedalmond;
    box-shadow: 2px 2px 0px black;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 3px;
    
    
}
.container{
    border: 1px solid black;
    background-color: aqua;
    width: 13rem;
    margin: 10px;
    padding: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px ;
    box-shadow: 2px 2px 0px black;
    background-color: antiquewhite;
    text-align: center;
}
button{
    width: 40px;
    background-color: whitesmoke;
    height: 30px;
    padding: 0px;
    margin: 5px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;    
    box-shadow: 2px 2px 0px black;
    border-radius: 3px ;
    

}
#clear{
    width: auto;
    padding: auto;
    border-radius: 3px ;

}

footer{
    border: 1px solid black;
    box-shadow: 3px 3px 0px black;
    text-align: center;
    font-size:16px;
    animation-name: deneme;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 13rem;
    margin: auto;
    margin-top: 20px;
}
@keyframes deneme {
    /* from {background-color: red;}
    to {background-color: yellow;} */
    0%   {background-color:bisque;}
    10%  {background-color:#357173;}
    20%  {background-color:#6eb9bd;}
    30%  {background-color:#f6d47f;}
    40% {background-color:#4279a6; }
    50% {background-color:#60c2dd; }
    60% {background-color:#78a579; }
    70% {background-color:antiquewhite; }
    80% {background-color:#78a579; }
    90% {background-color:#4279a6; }
    100% {background-color:#6eb9bd; } 
  }