*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}
body{
    background-color: bisque;
}
.countdown div::before{
    display: flex;
    flex-direction: column;

}
.countdown{
    background-color:antiquewhite ;
    box-shadow: 2px 2px 0px black;
    border: 1px black solid;
    border-radius: 3px;
    height: auto;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-around;
    text-align: center;
    font-size: 2rem;
}
.year, h1{
    margin: auto;
    width: auto;
    text-align: center;
    font-size: 70px;
}

.countdown #day::before{
    content: "days";
}

.countdown, #hour::before{
    content: "hours";
}

.countdown #minute::before{
    content: "Minutes";
}

.countdown #second::before{
    content: "Seconds";
    
}



footer{
    border: 1px solid black;
    box-shadow: 3px 3px 0px black;
    text-align: center;
    font-size:1.2rem;
    animation-name: deneme;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 13rem;
    margin: auto;
    margin-top: 20px;
}
@keyframes deneme {
    /* from {background-color: red;}
    to {background-color: yellow;} */
    0%   {background-color:bisque;}
    10%  {background-color:#357173;}
    20%  {background-color:#6eb9bd;}
    30%  {background-color:#f6d47f;}
    40% {background-color:#4279a6; }
    50% {background-color:#60c2dd; }
    60% {background-color:#78a579; }
    70% {background-color:antiquewhite; }
    80% {background-color:#78a579; }
    90% {background-color:#4279a6; }
    100% {background-color:#6eb9bd; } 
  }