<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>
    <form action="create-post" method="post">
        <input type="email" name="email" placeholder="write you email">
        <input type="type" name="title" placeholder="write title">
        <textarea name="desc" placeholder="what do you think"></textarea>
        <button>post</button>
       
    </form>
  <h2>hello</h2>
    
</body>
</html>